$color-primary: #ff5722;
$color-secondary: #ff6e40;
$color-text: #50535a;
$color-text-alternative: rgb(11, 39, 57, 86%);
$color-url: #019df4;
$color-blue-metalic: #0b2739;
$color-secondary-ligth: #ffd4c3;
$color-shadow: #b6b7b7;
$color-error: #e63780;
$value-shadow: 0px 4px 17px 5px;
$color-blue-alternative: rgb(11, 39, 57, 86%);
$color-inactive: #b0b0b0;
