@import '../../../../../assets/scss/variables.scss';

.card{
	max-height: 620px;
	overflow-y: scroll;
	scrollbar-color: $color-primary $color-secondary;
	.empty {
		display: flex;
		align-items: center;
		justify-content: space-between;
	
		img {
			width: 4em;
		}
	}
	
	.container-items {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	
}
/* width */
::-webkit-scrollbar {
	width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-secondary-ligth;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-secondary;
}
