<div class="social-login__box">
	<p class="social-login__text">Inicia sesión con tus redes</p>
	<div class="social-login__icons">
		<img
			src="https://cdn.worldvectorlogo.com/logos/google-icon.svg"
			alt="google-icon"
			class="social-login__icon"
		/>
		<img
			src="http://assets.stickpng.com/images/584ac2d03ac3a570f94a666d.png"
			alt="facebook-icon"
			class="social-login__icon"
		/>
	</div>
	<p class="social-login__text">
		{{ text }} <a [routerLink]="link"> {{ textLink }} </a>
	</p>
</div>
