<mat-card class="card">
	<div class="card__image"></div>
	<div class="card__shared no-select">
		<span class="material-icons"> share </span>
	</div>
	<p class="card__technology">{{ group.nameTechnology }}</p>
	<mat-card-content class="card__content">
		<div class="card__content-title">{{ group.nameGroup }}</div>
		<p class="card__content-description">
			{{ group.description }}
		</p>
		<button
			mat-raised-button
			color="primary"
			class="card__content-join"
			(click)="clickJoin()"
			[disabled]="disabled"
		>
			Unirse
		</button>
	</mat-card-content>
</mat-card>
