<div class="groups">
	<div class="groups__search">
		<mat-form-field>
			<mat-label>Filtrar por lenguaje</mat-label>
			<mat-select [(ngModel)]="languageFilter">
				<mat-option *ngFor="let language of languagesList" [value]="language">{{
					language
				}}</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field class="example-full-width">
			<mat-label>Buscar grupo</mat-label>
			<input matInput placeholder="Typescript" (keyup)="filterGroups()" [(ngModel)]="textFilter" />
		</mat-form-field>
	</div>
	<div class="groups__grid">
		<div *ngFor="let group of groupsData" class="item">
			<app-card-group [group]="group"></app-card-group>
		</div>
	</div>
</div>
