<div class="container">
	<mat-icon matBadge="17" matBadgeColor="warn" class="no-select">notifications_active</mat-icon>
	<div class="container__profile" [matMenuTriggerFor]="profile">
		<label>{{ nameUser }}</label>
		<img src="assets/images/person.png" class="navbar-brand__item-logo" alt="Team Angular 31" />
	</div>
</div>
<mat-menu #profile="matMenu" yPosition="below">
	<button mat-menu-item (click)="clickGoProfile()">Mi Perfil</button>
	<button mat-menu-item (click)="clickCloseSession()">Cerrar Sesión</button>
</mat-menu>
