<div class="counter">
	<div class="counter__item">
		<p class="counter__number">{{ daysToDday }}</p>
		<p class="counter__word">Dias</p>
		<p></p>
	</div>

	<div class="counter__item">
		<p class="counter__number">{{ hoursToDday }}</p>
		<p class="counter__word">Horas</p>
	</div>

	<div class="counter__item">
		<p class="counter__number">{{ hoursToDday }}</p>
		<p class="counter__word">Minutos</p>
	</div>

	<div class="counter__item">
		<p class="counter__number">{{ secondsToDday }}</p>
		<p class="counter__word">Segundos</p>
	</div>
</div>
