<app-card-container>
	<form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
		<mat-form-field class="form__form-field">
			<mat-label>Nueva contraseña</mat-label>
			<input
				type="password"
				matInput
				formControlName="pass"
				[type]="hidePassword ? 'password' : 'text'"
			/>
			<mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
				hidePassword ? 'visibility' : 'visibility_off'
			}}</mat-icon>
			<mat-error
				*ngIf="
					resetPasswordFormControl.pass.touched && resetPasswordFormControl.pass.errors?.required
				"
			>
				Contraseña es obligatoria
			</mat-error>
		</mat-form-field>
		<mat-form-field class="form__form-field">
			<mat-label>Confirmar ueva contraseña</mat-label>
			<input
				matInput
				type="password"
				formControlName="confirmPass"
				[type]="hideConfirmPassword ? 'password' : 'text'"
			/>
			<mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{
				hideConfirmPassword ? 'visibility' : 'visibility_off'
			}}</mat-icon>
			<mat-error
				*ngIf="
					resetPasswordFormControl.confirmPass.touched &&
					resetPasswordFormControl.confirmPass.errors?.required
				"
			>
				Confirmar nueva contraseña es obligatorio
			</mat-error>
			<mat-error
				*ngIf="
					resetPasswordFormControl.confirmPass.touched &&
					resetPasswordFormControl.confirmPass.errors?.passwordMismatch
				"
			>
				Las contraseñas no coindicen
			</mat-error>
		</mat-form-field>
		<button
			class="form__button"
			mat-raised-button
			color="primary"
			[disabled]="!resetPasswordForm.valid"
		>
			Cambiar contraseña
		</button>
	</form>
</app-card-container>
