@import '../../../../../assets/scss/variables.scss';

.container {
	display: flex;
	padding-bottom: 1em;
	bottom: 0;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(353deg, $color-primary 24.53%, rgba(255, 105, 68, 0) 25%);
	margin-top: 1em;

	&__terms-conditions {
		display: flex;
		justify-content: center;
		gap: 3px;
		color: $color-text-alternative;
	}
}

@media only screen and (max-width: 550px) {
	.container {
		&__terms-conditions {
			flex-direction: column;
			align-items: center;
			text-align: center;
			font-weight: 500;

			.url {
				color: #0049ff;
			}
		}
	}
}
