<mat-card class="card">
	<img src="assets/images/person.png" class="navbar-brand__item-logo" alt="Team Angular 31" />
	<div class="card__content">
		<div class="titles">
			<span class="titles__name">{{ profile.name }}</span>
			<span *ngIf="profile.area" class="titles__area"> {{ profile.area }}</span>
		</div>

		<p *ngIf="profile.biography" class="biography">
			{{ profile.biography }}
		</p>
		<div *ngIf="profile.redSocial" class="red-social">
			<a href="http://www.facebook.com/{{ profile.redSocial.facebook }}" target="_blank">
				<img src="assets/svg/facebook.svg" alt="Ir a facebook" />
			</a>
			<a href="http://www.twitter.com/{{ profile.redSocial.twitter }}" target="_blank">
				<img src="assets/svg/twitter.svg" alt="Ir a twitter" />
			</a>
			<a href="http://www.linkedin.com/in/{{ profile.redSocial.linkedin }}">
				<img src="assets/svg/linkedin.svg" alt="Ir a Linkedin" />
			</a>
			<a href="http://www.github.com/{{ profile.redSocial.github }}">
				<img src="assets/svg/git_hub.svg" alt="Ir a gitHub" />
			</a>
		</div>
		<span *ngIf="!profile.redSocial"> Actualiza tus Redes Sociales </span>
		<label class="url" *ngIf="showMessageInsignia()">Completa tu Perfil y gana una insignia!</label>
		<div class="footer">
			<hr class="hr" />
			<label for="" class="label no-select" (click)="clickEdit()">Editar Perfil</label>
		</div>
	</div>
</mat-card>
