<div class="contenedor__carousel" [ngStyle]="{ 'max-width': responsiCarousel }">
	<ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="carouselItems">
		<div *nguCarouselDef="let item" class="item">
			<app-team-leader [teamLeaders]="item"></app-team-leader>
		</div>
		<ul class="myPoint" NguCarouselPoint>
			<li
				*ngFor="let item of myCarousel.pointNumbers; let j = index"
				[class.active]="j == myCarousel.activePoint"
				(click)="myCarousel.moveTo(j)"
			></li>
		</ul>
	</ngu-carousel>
</div>
