<section class="menu menu--circle">
	<input type="checkbox" id="menu__active" />
	<label for="menu__active" class="menu__active">
		<div class="menu__toggle">
			<div class="icon">
				<div class="hamburger"></div>
			</div>
		</div>
		<input type="radio" name="arrow--up" id="degree--up-0" />
		<input type="radio" name="arrow--up" id="degree--up-1" />
		<input type="radio" name="arrow--up" id="degree--up-2" />
		<div class="menu__listings">
			<ul class="circle">
				<li>
					<div class="placeholder">
						<div class="upside">
							<a (click)="navigatePrincipal()" class="button" matTooltip="Inicio"
								><i class="fa fa-home"></i
							></a>
						</div>
					</div>
				</li>
				<li>
					<div class="placeholder">
						<div class="upside">
							<a
								(click)="navigateComunitys()"
								class="button"
								matTooltip="Comunidades"
								matTooltipPosition="right"
								><i class="fas fa-chalkboard-teacher"></i
							></a>
						</div>
					</div>
				</li>
				<li>
					<div class="placeholder">
						<div class="upside">
							<a (click)="navigateCreators()" class="button" matTooltip="Creadores de contenido"
								><i class="fas fa-photo-video"></i
							></a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</label>
</section>
